openapi: 3.0.0
info:
  title: Express API
  version: 1.0.0
servers:
  - url: https://api.tryegress.com
components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
security:
  - api_key: []
paths:
  /documents:
    post:
      summary: Upload documents
      description: Upload one or more documents to the server.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documents:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadedKeys:
                    type: array
                    items:
                      type: string
                  uploadedKeysMap:
                    type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /job:
    post:
      summary: Create a job
      description: Create a new job with shape and fileIds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shape:
                  type: object
                fileIds:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                example:
                  jobId: abc123
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /jobStatus:
    get:
      summary: Get job status
      description: Get the status of a specific job.
      parameters:
        - name: jobId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  results:
                    type: object
                example:
                  status: READY
                  results:
                    extractionResults: { ... }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string


